* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.prompt-layout {
    margin-top: 4rem;
    gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: calc(1.5rem/* 24px */ * calc(1 - 0));
    margin-bottom: calc(1.5rem/* 24px */ * 0);
}

.prompt-card {
    flex: 1 1 0%;
    break-inside: avoid;
    border-radius: 0.5rem/* 8px */;
    background-clip: padding-box;
    width: 100%;
    height: fit-content;
    
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem/* 24px */ * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem/* 24px */ * var(--tw-space-y-reverse));
}

@media (min-width: 640px) {
    .prompt-layout {
        columns: 2;
        gap: 1.5rem;
    }
}

@media (min-width: 1280px) {
    .prompt-layout {
        columns: 3;
    }
}

@media (min-width: 768px) {
    .prompt-card {
        width: 360px;
    }
}
